GEMINI_API_KEY=x
OPENAI_API_KEY=x
CHAT_MODEL_KEY=gemini-3.6-flash
QUERY_MODEL_KEY=gemini-3.1-flash-lite
EMBEDDING_MODEL_KEY=text-embedding-3-small
NEO4J_USERNAME=x
NEO4J_PASSWORD=x
NEO4J_URI=neo4j://localhost:7687
POSTHOG_API_KEY=
POSTHOG_HOST=https://eu.i.posthog.com
